@use '../custom' as *;
@use '../components/mixins' as *;

.intro-section {
    @include gradient;
    padding: 5rem 0 0 0;
    width: 100%;
    height: 100%;
    background: url('../../assets/images/header.jpg') 100% 75% no-repeat;
    background-size: cover;
}

.intros {


    .video-box {
        position: relative;


        a {
            // @include absoluteCenter;

            span {


                i {

                    font-size: 6rem;
                    color: $secondary;

                }
            }
        }
    }
}

.border-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 6rem;
    height: 6rem;
    border: 0.55rem solid $white;
    border-radius: 50%;
    animation: pulse-border 1.5s linear infinite;

    &--border-1 {
        animation-delay: 1s;
    }
    &--border-2 {
        animation-delay: 1.5s;
    }
}