@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
    @include gradient;

    li {
        padding: 0 0.7rem;
    }

    a {
        color: $white !important;
        font-weight: 600;
        padding: 0 0.7rem;
    }

    &:hover {
        color: $white;
    }
}

.navbar.transparent.navbar-inverse .navbar-inner {
    background-color: rgba(0,0,0,0.4);
}