@use '../custom' as *;

@mixin gradient {
    background: rgba(0, 0, 0, 0.4);
}

// ABSOLUTE CENTER 
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}